.signup-box {
    width: 80%;
    max-width: 400px;
}

.note {
    text-align: center;
    margin-bottom: 20px;
}

.deriv-signup {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: black;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.switch-link {
    text-align: center;
    margin-top: 20px;
}

.status-text {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}